<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block css_files %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="navbar-item">
                <a href="/department/all">Филиалы</a>
            </div>
            {% if navbar_department is defined %}
                <div class="navbar-item"> > </div>
                <div class="navbar-item">
                    <a href="/department/department_id={{ navbar_department.department_id }}">
                        {{ navbar_department.city ~ ' ул.' ~ navbar_department.address ~ ' д.' ~ navbar_department.house }}
                    </a>
                </div>
            {% endif %}
            {% if navbar_employee is defined %}
                <div class="navbar-item"> > </div>
                <div class="navbar-item">
                    >
                    <a href="employee/employee_id={{ navbar_employee.employee_id }}">
                        {{ navbar_employee.last_name ~ ' ' ~ navbar_employee.first_name ~ ' ' ~ navbar_employee.middle_name }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="content-container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>