{% extends 'base.html' %}

{% block title %} Сотрудник {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{{ url_for('static', filename='employee.css') }}">
{% endblock %}

{% block content %}
    <div class="page">
        <div class="employee-title">
            Личные данные
        </div>

        <form class="employee-attributes" action="/employee/update" enctype=multipart/form-data method="POST">
            <div class="personal-data">
                <input type="hidden" id="employee_id" name="employee_id" value="{{ employee.employee_id }}">

                <label for="first_name">Имя</label>
                <input type="text" id="first_name" name="first_name" placeholder="Имя" value="{{ employee.first_name }}">

                <label for="last_name">Фамилия</label>
                <input type="text" id="last_name" name="last_name" placeholder="Фамилия" value="{{ employee.last_name }}">

                <label for="middle_name">Отчество</label>
                <input type="text" id="middle_name" name="middle_name" placeholder="Отчество" value="{{ employee.middle_name }}">

                <label for="birth_date">Дата рождения</label>
                <input type="date" id="birth_date" name="birth_date" value="{{ employee.birth_date }}">

                <div class="sex-label">
                    Пол
                </div>
                <div class="sex-radio-buttons">
                    <label class="radio-button-label" for="radio-m">М</label>
                    <input type="radio" id="radio-m" name="sex" value="M" {{ 'checked' if employee.sex == 'M' }}>


                    <label class="radio-button-label" for="radio-w">Ж</label>
                    <input type="radio" id="radio-w" name="sex" value="F" {{ 'checked' if employee.sex == 'F' }}>
                </div>

                <div class="photo">
                    {% if employee.image_path is not none %}
                        <img class="photo" id="photo" name="photo" src="{{ url_for('upload_file', filename=employee.image_path) }}" alt="Фото сотрудника">
                    {% else %}
                        <label for="photo">Загрузить фотографию</label>
                        <input type="file" id="photo" name="photo" accept="image/webp, image/jpeg">
                    {% endif %}
                </div>
            </div>

            <div class="employee-data">
                <div class="employee-title">
                    Данные о сотруднике
                </div>

                <label for="hire_date">Дата найма</label>
                <input type="date" id="hire_date" name="hire_date" value="{{ employee.hire_date }}">

                <label for="job_title_id">Должность</label>
                <select id="job_title_id" name="job_title_id">
                    {% for job_title in job_titles %}
                        {% if employee.job_title_id == job_title.job_title_id %}
                            <option value="{{ job_title.job_title_id }}" selected>{{ job_title.name }}</option>
                        {% else %}
                            <option value="{{ job_title.job_title_id }}">{{ job_title.name }}</option>
                        {% endif  %}
                    {% endfor %}
                </select>

                <label for="department_id">Филиал</label>
                <select id="department_id" name="department_id">
                    {% for department in departments %}
                        {% if employee.department_id == department.department_id %}
                            <option value="{{ department.department_id }}" selected>{{ department.city ~ ' ул.' ~ department.address ~ ' д.' ~ department.house }}</option>
                        {% else %}
                            <option value="{{ department.department_id}}">{{ department.city ~ ' ул.' ~ department.address ~ ' д.' ~ department.house }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="contact-data">
                <div class="employee-title">
                    Контактные данные
                </div>

                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="{{ employee.email }}">

                <label for="phone">Телефон</label>
                <input type="tel" id="phone" name="phone" value="{{ employee.phone }}"
                       pattern="\+7\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}">

            </div>

            <div class="notes">
                <div class="employee-title">
                    Заметки
                </div>

                <textarea id="note" name="note" placeholder="Заметки о сотруднике" rows="10">{{ employee.note }}
                </textarea>
            </div>

            <div class="submit-container">
                <button type="submit">Сохранить</button>
            </div>
        </form>

    </div>
{% endblock %}